<h1>編集画面</h1>

<%= form_with model: @customer do |f| %>

  <h1>姓</h1>
  <%= f.text_field :last_name %>
  
  <h1>名</h1>
  <%= f.text_field :first_name %>
  
  <h1>セイ</h1>
  <%= f.text_field :last_name_kana %>
  
  <h1>メイ</h1>
  <%= f.text_field :first_name_kana %>
  
  <h1>メールアドレス</h1>
  <%= f.text_field :email %>
  
  <h1>郵便番号</h1>
  <%= f.text_field :postal_code %>
  
  <h1>住所</h1>
  <%= f.text_field :address %>
  
  <h1>電話番号</h1>
  <%= f.text_field :telephone_number %>
  <%= f.submit '保存' %>
  
  <%= link_to "退会", customers_check_path %>
<% end %>