<h1>マイページ</h1>

<table>
  <tr>
    <th>名前</th>
    <th>フリガナ</th>
    <th>メールアドレス</th>
    <th>郵便番号</th>
    <th>住所</th>
  </tr>
  <tr>
    <td><%= @customer.name %></td>
    <td><%= @customer.name_kana %></td>
    <td><%= @customer.email %></td>
    <td><%= @customer.postal_code %></td>
    <td><%= @customer.address %></td>
  </tr>
</table>


<%= link_to "編集する", edit_customer_path(current_customer) %>