<h1>public/homes/top</h1>
<h1>グッズ一覧</h1>

<table>
  <thead>
    <tr>
      <th>グッズ画像</th>
      <th>グッズ名</th>
      <th>グッズ説明</th>
      <th>カテゴリ</th>
      <th>税抜価格</th>
      <th>販売ステータス</th>
      <th></th>
    </tr>
  </thead>
  <% @items.each do |item| %>
  <tbody>
    <tr>
      <td><%= image_tag item.get_item_image(100,100) %></td>
      <td><%= item.name %></td>
      <td><%= item.description %></td>
      <td><%= item.genre.name %></td>
      <td><%= item.price_without_tax %></td>
      <td><%= item.status_i18n %></td>
      <td><%= link_to "詳細", item_path(item.id) %></td>
    </tr>
  </tbody>
  <% end %>
</table>