<h1>ジャンル一覧</h1>

<table>
  <thead>
    <tr>
      <th>ジャンル名</th>
    </tr>
  </thead>
<% @genres.each do |genre| %>
  <tbody>
    <tr>
      <td><%= genre.name %></td>
    </tr>
  </tbody>
<% end %>
</table>


<h1>ジャンル登録</h1>

<%= form_with model: @genre, url: admin_genres_path do |f| %>
  <div class="field">
    <%= f.label :ジャンル名 %><br>
    <%= f.text_field :name %>
  </div>
  
  <%= f.submit '登録' %>
<% end %>