<h1>カート内グッズ一覧</h1>

<table>
  <thead>
    <tr>
      <th>グッズ名</th>
      <th>数量</th>
      <th>単価</th>
      <th>金額</th>
      <th></th>
    </tr>
  </thead>
  <% sum = 0 %>
  <% @cart_items.each do |cart_item| %>
  <tbody>
    <tr>
      <td><%= cart_item.item.name %></td>
      <td><%= form_with model: cart_item, url: cart_item_path(cart_item.id) do |f| %>
            <%= f.select :amount, *[1..10] %>
            <%= f.submit "変更" %>
          <% end %>
      </td>
      <td><%= cart_item.item.price_without_tax %>円</td>
      <td><%= cart_item.subtotal %></td>
      <td><%= link_to "削除", cart_item_path(cart_item.id), method: :delete, "data-confirm" => "商品を削除しますか？", class: "btn btn-danger"%></td>
    </tr>
  <% sum += cart_item.subtotal %>
  </tbody>
  <% end %>
</table>

合計金額 <%= sum %> 円
<%= link_to "カートを空にする", destroy_all_cart_items_path, method: :delete , "data-confirm" => "カートを空にしますか？" , class: "btn btn-danger"%>