<!DOCTYPE html>
<html>
  <head>
    <title>ハリネズミ商店</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/5d458e57a9.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to root_path do %>
        <h1>ハリネズミ商店</h1>
      <% end %>

      <% if customer_signed_in? %>

      <nav class="nav">
      <ul class="menu-group">
        
        <li class="menu-item"><%= link_to "ご利用ガイド", guide_path %></li>

        <li class="menu-item"><%= link_to "マイページ", mypage_path %></li>

        <li class="menu-item"><%= link_to "ログアウト", destroy_customer_session_path, method: :delete %></li>
        
        <li class="menu-item"><%= link_to "カート", items_path %></li>
      </ul>
      </nav>

      <% elsif admin_signed_in? %>

      <nav class="nav">
      <ul class="menu-group">

        <li class="menu-item"><%= link_to "グッズ一覧", admin_items_path %></li>

        <li class="menu-item"><%= link_to "会員一覧", admin_customers_path %></li>

        <li class="menu-item">注文履歴一覧</li>

        <li class="menu-item"><%= link_to "カテゴリ一覧", admin_genres_path %></li>

        <li class="menu-item"><%= link_to "会員一覧", admin_customers_path %></li>

        <li class="menu-item"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
      </ul>
      </nav>

      <% else %>

      <nav class="nav">
      <ul class="menu-group">
        
        <li class="menu-item"><%= link_to "ご利用ガイド", guide_path %></li>

        <li class="menu-item"><%= link_to "新規登録", new_customer_registration_path %></li>

        <li class="menu-item"><%= link_to "ログイン", new_customer_session_path %></li>
        
        <li class="menu-item"><%= link_to "カートを見る", items_path %></li>

      </ul>
      </nav>

      <% end %>

    </header>
    <div>
      <%= flash[:notice] %>
    </div>
    <%= yield %>
  </body>
</html>
