<!DOCTYPE html>
<html>
  <head>
    <title>ハリネズミ商店</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/5d458e57a9.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header-container">
        <%= link_to root_path, class: "logo" do %>
          <h1>ハリネズミ商店</h1>
        <% end %>

        <button class="hamburger-menu">
          <i class="fas fa-bars"></i>
        </button>

        <nav class="nav">
          <ul class="menu-group">
            <% if customer_signed_in? %>
              <li class="menu-item"><%= link_to "ご利用ガイド", guide_path %></li>
              <li class="menu-item"><%= link_to "マイページ", mypage_path %></li>
              <li class="menu-item"><%= link_to "ログアウト", destroy_customer_session_path, method: :delete %></li>
              <li class="menu-item"><%= link_to "カート", cart_items_path %></li>
              <li class="menu-item"><%= link_to "感想一覧", musics_path %></li>
              <li class="menu-item"><%= link_to "感想投稿", new_music_path %></li>
            <% elsif admin_signed_in? %>
              <li class="menu-item"><%= link_to "グッズ一覧", admin_items_path %></li>
              <li class="menu-item"><%= link_to "会員一覧", admin_customers_path %></li>
              <li class="menu-item"><%= link_to "注文履歴一覧", admin_orders_path %></li>
              <li class="menu-item"><%= link_to "カテゴリ一覧", admin_genres_path %></li>
              <li class="menu-item"><%= link_to "会員一覧", admin_customers_path %></li>
              <li class="menu-item"><%= link_to "情報一覧", admin_information_index_path %></li>
              <li class="menu-item"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
            <% else %>
              <li class="menu-item"><%= link_to "ご利用ガイド", guide_path %></li>
              <li class="menu-item"><%= link_to "新規登録", new_customer_registration_path %></li>
              <li class="menu-item"><%= link_to "ログイン", new_customer_session_path %></li>
              <li class="menu-item"><%= link_to "カートを見る", items_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <div>
      <%= flash[:notice] %>
    </div>
    <%= yield %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function() {
        $('.hamburger-menu').click(function() {
          $('.nav').toggleClass('open');
        });
      });
    </script>
  </body>
</html>

